.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151740;
    color: white;
}

.header h1 {
    padding: 20px;
    font-size: 30px;
}

.header .logo {
    max-height: 92px;
    padding-left: 25px;
    padding-top: 12px;
}

.user > button {
    background: #151740;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 2px 20px;
}

.user > button p {
    margin-top: 15px;
    margin-left: 5px;
}

.user > button:hover {
    background-color: #273487;
}
