<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo ao Tab Manager</mat-card-title>
    <mat-card-subtitle class="subtitle">Comece a criar seus workspaces e melhore sua produtividade!</mat-card-subtitle>
</mat-card>
