
.login-section {
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-section {
    display: flex;
    width: 500px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input {
    width: 90%;
    padding: 4px;
}

.login-button-section {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px; 
    padding: 10px;
}

.global-error-section {
    margin-top: 10px;
}
