<mat-card class="mat-elevation-z3">
    <div class="workspace-title">
        <mat-card-title>{{ resourceTitle }}</mat-card-title>
        <div class="actions-workspace">
           <a class="button new" routerLink="/workspaces/{{ workspaceId }}/resources/{{ resourceId }}/tabs/create">Nova Tab</a>
           <a class="button edit" routerLink="/workspaces/{{ workspaceId }}/resources/{{ resourceId }}/edit">Editar</a>
           <a ></a>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tabs">
        <table>
            <thead>
                <th>URL</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let tab of workspaceTabs">
                    <td>{{ tab.link }}</td>
                    <td class="actions">
                      <a class="button delete"(click)="excluir(tab.tabId)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>


        
