.workspace-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.button.new {
    background-color: #45cf1f;
    opacity: 0.7;
    color: black;
}

.button.delete {
    background-color: #db564d;
    color: white;
}

.button.edit {
    background-color: #dbe615;
    margin-left: 4px;
    opacity: 0.7;
    color: black;
}

.tabs table {
    width: 60%;
    margin-top: 16px;
}

.tabs table thead {
    text-align: left;
}

.tabs table td {
    padding: 8px 16px;
}

mat-divider {
    margin-top: 8px;
}


