<mat-card>
    <mat-card-title>Alterar Workspace</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" name="name" [(ngModel)] = "resource.name">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="update()">
        Atualizar
    </button>
    
    <button class="cancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
